@import '../../style/_base.scss';

.PostPage{
  .breadcrumbs{
    text-align: right;
    ul{
      li{
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
  form{
    div{
      margin-bottom: $margin/2;

      &.form_title_input{
        input{
          width: 100%;
          padding: $padding;
        }
      }

      &.form_body_textarea{
        textarea{
          width: 100%;
          height: $margin * 6;
          padding: $padding;
        }
      }

      &.users_container{
        ul{
          padding: $padding;
          border: $baseBorder;
          list-style-type: none;
        }
      }
    }
  }
  .form_buttons{
    margin-bottom: $margin;
    .button_save{
      margin-right: $margin;
    }
  }
  .comments_container{
      margin-top: $margin * 2;
      ul{
        padding: 0
      }
    }
}